body{
    padding:0px;
    margin: 0px;
    width:100%;
    height:100vh;
    font-family: sans-serif;
}

.main-ios{
    background-color:rgba(240, 240, 239, 0.074);
    padding:0px;
    margin:0px;
    position: relative;
    width: 100%;
    height:100vh;
}

.main-menu{
    /* position:absolute; */
    margin-left: 15%;
    padding-bottom: 10px;
}

.main-menu ul{
  list-style: none;
}
.main-menu li{
    float:left;
    padding:0px 20px;
}

.main-menu a{
    text-decoration: none;
    color: rgb(63, 65, 66);
}

.ios-content h3{
    /* margin-left: 280px; */
    
    margin-top: 30px;
    background-color: rgba(194, 165, 165, 0.088);
    padding:10px 0px;
}
.ios-content h3 span{
    margin-left: 280px;
}
.ios-content p span{
    text-align: center;
    color:rgba(0, 0, 0, 0.882);
    margin-top: 60px;
    font-size:24px;
    font-weight: bold;
}

.ios-content h1{
     text-align: center;
     font-size: 58px;
     letter-spacing: 2px;
}

.ios-content p{
    text-align:center;
    font-size:24px;
    margin-top: 20px;
}

.fall-visit span{
    color: rgba(0, 0, 0, 0.622);
}
.fall-visit{
    margin-top: 60px;
    text-align: center;
    font-size:24px;
}

.fall-visit a{
    text-decoration:none;
    color:#287afc;
}
.fall-visit a:hover{
     text-decoration:underline;
}

.iframee{
    text-align: center;
}
.iframee img{
    padding-top: 40px;
}

.iframee iframe{
   margin: 50px 0px;
    

}
/* code */